{% if pagination|length > 1 %}
{% if base_url == '' %}
    {% set base_url = '/' %}
{% endif %}
<div class="navigation pagination">
    <div class="nav-links">
    {% if pagination.hasPrev %}
        {% set url = (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
        <a class="prev page-numbers" href="{{ url }}">&laquo;</a>
    {% endif %}
    {% for paginate in pagination %}
        {% if paginate.isCurrent %}
            <span class="page-numbers current"><span class="meta-nav screen-reader-text">{{ 'PAGE'|t }} </span>{{ paginate.number }}</span>
        {% elseif paginate.isInDelta %}
            {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
            <a class="page-numbers" href="{{ url }}"><span class="meta-nav screen-reader-text">{{ 'PAGE'|t }} </span>{{ paginate.number }}</a>
        {% endif %}
    {% endfor %}
    {% if pagination.hasNext %}
        {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        <a class="next page-numbers" href="{{ url }}">&raquo;</a>
    {% endif %}
    </div>
</div>
{% endif %}
